body {
  background-color: #f4f6f9;
}

.container-box {
  max-width: 1200px;
  margin: 40px auto;
}

.card-custom {
  border-radius: 12px;
  padding: 20px;
}

@media print {
  .navbar,
  button,
  .btn,
  .modal,
  .modal-backdrop {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
  }

  .card {
    box-shadow: none !important;
    border: none !important;
  }
}
.calendario-dia-vazio {
  background: transparent;
  border: none;
  box-shadow: none;
}
